@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  background-image: linear-gradient(to right,  #0f2027, #203a43, #2c5364 );
  animation: animate-background 15s ease infinite;
  background-size: 120% 120%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 70px;
  border-radius: 50%;
}

.github-icon {
  width: 5%;
  height: 5%;
}

h1 {
  color: #d5f2ff;
  font-size: 40px;
  font-family: 'Montserrat';
}

input {
  position: absolute;
  left: 42%;
  text-align: center;
  background-color: #d5f2ff;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}

button {
  position: relative;
  left: 130%;
  text-align: center;
  background-color: #70d4ff;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 3em;
}

.search{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

.profile{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px rgb(139, 199, 255) solid;
  border-radius: 5px;
  font-family: 'Montserrat';
  color: #d5f2ff;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.profile:hover {
  background-color: #70d4ff;
  color: #0f2027;
}

.profile-open {
  margin: 0.5em;
}

.profile-open-icon {
  width: 5%;
}

.grid-view {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

@keyframes animate-background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
